<section class="todoapp">
   <!--Header-->
    <header class="header">
      <h1>{{label}}</h1>
      <form (submit)="appendItem(newTodoInput.value); newTodoInput.value = ''; updateRemaining()">
        <input  #newTodoInput
                name        = "newTodoInput"
                class       = "new-todo"
                placeholder = "Que faire?"
                autofocus />
      </form>
    </header>

        <!-- main -->
    <section  class="main">
      <input  *ngIf="items.length>0"
              class="toggle-all"
              type="checkbox"
              name="toggleAll"
              (click)="toggleAllDone()"
      />
      <ul class="todo-list">
        <!-- @fade : animation -->
        <li @fade *ngFor="let item of items"
             [ngClass]="{'editing' : itemCompo.show }"
        >
            <app-todo-item #itemCompo [item]="item"
                           [isDone]="item.isDone"
                           (itemDone)="itemDone(item, $event)"
                           (removeItem)="removeItem($event)"
                           (itemLabel)="itemLabel(item, $event)"
                           (remainingStain)="remainingStain()"
            >
            </app-todo-item>
        </li>
      </ul>
    </section>

      <!--footer-->
    <footer  class="footer ">
      <span class="todo-count"><strong *ngIf="remaining>0" >{{remaining}}</strong> restantes</span>
      <ul class="filters">
        <li>
          <a #all class="filterAll" (click)="filter(all.className)">Tous</a>
        </li>
        <li >
          <a #actives class="filterActives"  (click)="filter(actives.className)">Actifs</a>
        </li>
        <li>
          <a #completed class="filterCompleted" (click)="filter(completed.className)">Complétés</a>
        </li>
        <li>
          <a *ngIf="sizeArrayUndo()" (click)="undo()">Undo</a>
        </li>
        <li>
          <a *ngIf="sizeArrayRedo()" (click)="redo()">Redo</a>
        </li>
        <li>
          <a *ngIf="sizeArrayRedo() || sizeArrayUndo() || items.length>0" (click)="destroyStorage()">Effacer</a>
        </li>
        <li>
          <button  *ngIf="displayButtonSup()" class="clear-completed" (click)="deleteChecked()">Supprimer cochées</button>
        </li>
      </ul>
    </footer>

</section>




